*{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
div{
	margin-bottom: 10px;
	margin-top: 10px;
}
.container{
	width: 100%;
	text-align: center;
	margin:auto;
}
nav{
	text-align: center;
	font-size: 32px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	padding-bottom: 13px;
	padding-top: 13px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	color: black;
}
.grupal{
		width: 688px;
		margin-top: 10px;
		margin-bottom: 25px;
}
h3 {
	text-align: left;
	margin-left: 24%
}
.paragraph{
	height:50%;
	width: 50%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
}

.line{
	border-top: 4px solid;
	width: 70px;
	margin-top: 10px;
}
.border{
	color: gray;
	margin: auto;
	padding-bottom: 10px;
}
.salto{
	margin-left: 24%;
}

.pdos{
	position: absolute;
	margin-top: -25px;
	right: 10px;
	color: #fff;
}
.img{
	display:inline-block;
	position: relative;
	margin-right: 10px;
}


